body {
  background-color: #7DA075; 
  margin: 0;
}

.thank-you-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thank-you-wrapper h1 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}