body {
    display: flex;
    flex-direction: column;
    align-items: center;
  margin: 0;
  min-height: 100vh;
  background-image: url(../images/slopgoy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Instrument Serif', serif;
  position: relative;
}

/* NAVBAR */
.navbar {
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #7DA075;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; /* viktigt för små skärmar */
}

.nav-links a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

.nav-links a:hover {
  color: #f4a261;
}

/* HUVUDBOX */
.box1 {
  
 
  
  background-color: #7DA075;
  color: white;

  width: 80%;
  max-width: 500px;

  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox h1 {
  font-size: 3rem;
}

.flexbox h4 {
  font-size: 1.2rem;
}

/* LOGIN KNAPPAR */
.accbox {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap; /* gör att knappar kan hoppa ner */
}

.accboxes {
  background-color: #49663F;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}

/* MOBILANPASSNING */
@media (max-width: 768px) {

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .box1 {
    width: 90%;
    top: 15%;
    padding: 15px;
  }

  .flexbox h1 {
    font-size: 2rem;
  }

  .flexbox h4 {
    font-size: 1rem;
  }

  .accbox {
    flex-direction: column;
    width: 100%;
  }

  .accboxes {
    
    text-align: center;
  }
}

/* EXTRA SMÅ MOBILER */
@media (max-width: 480px) {

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .box1 {
    top: 10%;
  }

  .flexbox h1 {
    font-size: 1.7rem;
  }
}